// --------------------------------------------------------------------------------
// CUSTOM FONTS ADDED
// --------------------------------------------------------------------------------

@font-face {
	font-family: 'norwester';
	src: url('./fonts/norwester.woff') format('woff');
}

@font-face {
	font-family: 'Old English';
	src: url('./fonts/old-english.woff2') format('woff2');
}

@font-face {
	font-family: 'lobster-v20-latin-regular';
	src: url('./fonts/lobster-v20-latin-regular.woff2') format('woff2');
}
